.message
{
    margin: 10px 0;
    width: 80%;
    padding: 0 5px;
    float: left;
    display: block;
    border-radius: 10px;
    background-color: white;
}
.mymessage
{
    float: right;
    background-color: black;
    color: white;
}

.content
{
   padding: 15px;
}

.content::after {
    content: "";
    clear: both;
    display: table;
  }